<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.danielsan.dscontacts" >

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:name="com.activeandroid.app.Application"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MainTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="contacts.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="br.com.danielsan.dscontacts.model.serializer.NameSerializer" />
        <meta-data
            android:name="AA_MODELS"
            android:value="br.com.danielsan.dscontacts.model.Contact,
             br.com.danielsan.dscontacts.model.Address,
             br.com.danielsan.dscontacts.model.Email,
             br.com.danielsan.dscontacts.model.Event,
             br.com.danielsan.dscontacts.model.IM,
             br.com.danielsan.dscontacts.model.Nickname,
             br.com.danielsan.dscontacts.model.Note,
             br.com.danielsan.dscontacts.model.Phone,
             br.com.danielsan.dscontacts.model.Relationship,
             br.com.danielsan.dscontacts.model.Website" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddContactActivity"
            android:label="New Contact"
            android:theme="@style/AddContactTheme" >
        </activity>
        <activity
            android:name=".activities.ContactInfoActivity"
            android:label="New Contact"
            android:theme="@style/ContactInfoTheme" >
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
    </application>

</manifest>
